:root {
    /* Basic Colors */
    --foreground: #c5c9c5;
    --background: #181616;
    --selection-foreground: #c8c093;
    --selection-background: #2d4f67;

    /* Cursor Color */
    --cursor: #c8c093;

    /* URL Color */
    --url-color: #72a7bc;

    /* Tab Bar Colors */
    --active-tab-foreground: #c8c093;
    --active-tab-background: #12120f;
    --inactive-tab-foreground: #a6a69c;
    --inactive-tab-background: #12120f;

    /* Basic 16 Colors */
    --color-black: #0d0c0c;
    --color-bright-black: #a6a69c;
    --color-red: #c4746e;
    --color-bright-red: #e46876;
    --color-green: #8a9a7b;
    --color-bright-green: #87a987;
    --color-yellow: #c4b28a;
    --color-bright-yellow: #e6c384;
    --color-blue: #8ba4b0;
    --color-bright-blue: #7fb4ca;
    --color-magenta: #a292a3;
    --color-bright-magenta: #938aa9;
    --color-cyan: #8ea4a2;
    --color-bright-cyan: #7aa89f;
    --color-white: #c8c093;
    --color-bright-white: #c5c9c5;

    /* Additional Colors */
    --color16: #b6927b;
    --color17: #b98d7b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-red);;
    overflow-x: hidden;
    font-family: "Lucida Console", Monaco, monospace;
    }

.entry {
    width: 100%;
}

.bruh ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
}

.mainbody {
    /*background: var(--inactive-tab-background);*/
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.titlecard {
    min-height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    width: 100%;
    display: flex;
    justify-content: center;

}

.grouplist{
    display: grid;
    overflow-y: scroll;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 20px;
    height: 90vh;
}

.groupview {
    display: flex;
    width: 70vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.member {
    height: 4rem;
    width: 80%;
    border-radius: 12px;
    margin-top: 10px;
    display: flex;
    /*box-shadow: rgba(230, 195, 132, 0.4) 0px 2px 4px, rgba(230, 195, 132, 0.3) 0px 7px 13px -3px, rgba(230, 195, 132, 0.2) 0px -3px 0px inset;*/
    box-shadow: 
  rgba(230, 195, 132, 0.4) 0px 2px 4px, 
  rgba(230, 195, 132, 0.3) 0px 7px 13px -3px, 
  rgba(230, 195, 132, 0.2) 0px -3px 0px inset;

  box-shadow: 
  rgba(230, 195, 132, 1) 0px 0px 0px 2px inset, 
  rgba(230, 195, 132, 0.5) 10px -10px 0px -3px, 
  rgba(230, 195, 132, 1) 10px -10px, 
  rgba(230, 195, 132, 0.5) 20px -20px 0px -3px, 
  rgba(230, 195, 132, 1) 20px -20px, 
  rgba(230, 195, 132, 0.5) 30px -30px 0px -3px, 
  rgba(230, 195, 132, 1) 30px -30px, 
  rgba(230, 195, 132, 0.5) 40px -40px 0px -3px, 
  rgba(230, 195, 132, 1) 40px -40px;


    /*box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;*/
    justify-content: center;
    align-items: center;
    background: var(--color-black);
}

.nav {
    margin: 40px;
    margin-left: 50px;
    border-radius: 20px;
    background: var(--background);
    min-width: 30%;
    overflow-y: auto;
    height: 100vh;
    box-shadow: 
  rgba(230, 195, 132, 0.4) 5px 5px, 
  rgba(230, 195, 132, 0.3) 10px 10px, 
  rgba(230, 195, 132, 0.2) 15px 15px, 
  rgba(230, 195, 132, 0.1) 20px 20px, 
  rgba(230, 195, 132, 0.05) 25px 25px;

}

.groupnav {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*border: 2px solid red;*/
}

.teamIdOverlay {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 8px;
    background: var(--color-black);
    height: 5vh;
    font-size: x-large;
    align-items: center;
}

.team{
    border-radius: 8px;
    width: 30vw;
    background: var(--color-black);
    height: 30vh;
    animation: smoothAppear 0.75s ease;
    overflow-y: auto;
}


.button {
  padding: 0.6em 2em;
  border: 1px solid;
  outline: var(--color-bright-yellow);
  color: var(--color-bright-yellow);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}


/* CSS */
.button85 {
  padding: 0.6em 2em;
  border: 1px solid;
  outline: var(--color-bright-yellow);
  color: var(--color-bright-yellow);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbutton85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbutton85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.bruh {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /*border: 5px  solid red;*/
    min-width: 30vw;
    min-height: 70vh;
    overflow: auto;
    flex-direction: column;
}

@keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}


@keyframes smoothAppear {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    60% {
        transform: scale(1.05);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*.gradient-background {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    animation: Morph 12s ease infinite;*/
/*}*/

.teamContainer {
    position: relative;
    width: 100%;
}

.deleteTeamButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #ff4444;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    padding: 0;
    z-index: 1;
}

.delete-team-button:hover {
    background-color: #cc0000;
}

.navControls {
    display: flex;
    justify-content: center;
}


div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index: 99999;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
  }
  100% {
    opacity: 0.2;
    width: 15em;
    height: 15em;
    margin: -7.5em;
    border-width: 0.03em;
  }
}

/*@keyframes gradient-animation {*/
/*  0% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*  50% {*/
/*    background-position: 100% 50%;*/
/*  }*/
/*  100% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*}*/

@keyframes Morph {
 0%, 100% {
   border-radius: 50%;
   transform: rotate(0deg);
   background-color: pink;
 }
 50% {
   border-radius: 0%;
   transform: rotate(180deg);
   background-color: lightblue;
 }
}

